<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DG.AdvancedDataGridView" version="1.1.24722.8" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net472" />
</packages>