<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true" > 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInsertDataService" />
                <binding name="BasicHttpBinding_IGetDataService" />
                <binding name="BasicHttpBinding_IFillComboBoxDataService" />
                <binding name="BasicHttpBinding_IDeleteDataService" />
                <binding name="BasicHttpBinding_IUpdateDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebServiceHost.Insert/IInsertDataService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsertDataService"
                contract="InsertDataServiceReference.IInsertDataService" name="BasicHttpBinding_IInsertDataService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebServiceHost.Get/GetDataService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetDataService"
                contract="GetDataServiceReference.IGetDataService" name="BasicHttpBinding_IGetDataService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebServiceHost.FillComboBox/FillComboBoxDataService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFillComboBoxDataService"
                contract="FillComboBoxDataServiceReference.IFillComboBoxDataService"
                name="BasicHttpBinding_IFillComboBoxDataService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebServiceHost.DeleteData/DeleteDataService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeleteDataService"
                contract="DeleteDataServiceReference.IDeleteDataService" name="BasicHttpBinding_IDeleteDataService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebServiceHost.Update/UpdateDataService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateDataService"
                contract="UpdateDataServiceReference.IUpdateDataService" name="BasicHttpBinding_IUpdateDataService" />
        </client>
    </system.serviceModel>
</configuration>
